




h1{

    COLOR: #ff7f50;
}

h2{

    COLOR: burlywood;
}

p{
    COLOR: #006400;
    font-size:14PT;
    font-family: "VERDANA";
}

header{

    COLOR: #ff0000;
    font-size:20PT;
    font-family: sans-serif;
}

footer{

    COLOR: #ff0000;
    font-size:5PT;
    font-family: VERDANA;
    text-align: right;
}

main{

    text-align:center;
}

#mugContainer{

    font-weight: bold;
}