




h1{

    COLOR: #ff7f50;
}

h2{

    COLOR: burlywood;
}

p{
    COLOR: #006400;
    font-size:14PT;
    font-family: "VERDANA";
}

header{

    COLOR: #ff0000;
    font-size:20PT;
    font-family: 'Shadows Into Light', cursive;
}

footer>p{

    COLOR: #ff0000;
    font-size:10PT;
    font-family: 'Shadows Into Light', cursive;
    text-align: right;
}

main{

    text-align:center;
    font-family: 'Shadows Into Light', cursive;
}

#mugContainer{

    font-weight: bold;
}

h3{
    font-size:25PT;
}

A:LINK{

    COLOR: aqua;
}

A:HOVER{

    COLOR: red;
}

#signupbox{

    font-size:30PT;
}

div {

    border: 3px solid #73AD21;
}

body {
    background-color: transparent;

}

p::after {
    content: "   Smileyyyyyy ";
}