




h1{

    COLOR: #ff7f50;
    font-family: 'Shadows Into Light', cursive;
}

h2{

    COLOR: #ff0000;
    font-size:30PT;
    font-family: 'Shadows Into Light', cursive;
}

p{
    COLOR: #006400;
    font-size:14PT;
    font-family: 'Shadows Into Light', cursive;
}

header{

    COLOR: #ff0000;
    font-size:20PT;
    font-family: 'Shadows Into Light', cursive;
}

footer>p{

    COLOR: #ff0000;
    font-size:12PT;
    font-family: 'Shadows Into Light', cursive;
    text-align: right;



}

main{

    font-family: 'Shadows Into Light', cursive;
}

#mugContainer{

    font-weight: bold;
    font-family: 'Shadows Into Light', cursive;
    float: left;
}

h3{
    font-size:25PT;
    font-family: 'Shadows Into Light', cursive;
}

A:LINK{

    COLOR: aqua;
}

A:HOVER{

    COLOR: red;
}

#signupbox{

    font-size:30PT;
    font-family: 'Shadows Into Light', cursive;
}

div {

    border: 3px solid #ffffff;
}

body {
    background-color: transparent;

}

footer>p::after {
    content: "........................................Smileyyyyyy!!!!!! ";

}

